* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #030728 no-repeat center;
}

#root {
    width: 100%;
}

.currency-convertor {
    margin: 0 auto;
    background: red;
    padding: 40px 30px 50px;
    border-radius: 8px;
    max-width: 410px;
    background: rgba(2, 7, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

}

.currency-convertor .convertor-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.currency-convertor .convertor-form {
    margin-top: 45px;
}

.convertor-form .form-group {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;

}

.convertor-form .form-group .form-label {
    color: #fff;
    font-weight: 500;
    display: block;
    margin-bottom: 9px;
    font-size:  1rem;
}

.convertor-form .form-group .form-input {
    outline: none;
    font-size: 1.1rem;
    padding: 0 15px;
    color: #fff;
    font-weight: 500;
    min-height: 48px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.convertor-form .form-currency-group {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-currency-group .currency-select {
    display: flex;
    padding: 0 10px;
    min-height: 45px;
    align-items: center;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.form-currency-group .currency-select img {
    width: 25px;
}

.form-currency-group .currency-select .currency-dropdown {
    outline: none;
    border: none;
    background: none;
    font-size: 1rem;
    padding: 0 10px 0 5px;
    color: #fff;
}

.form-currency-group .currency-select .currency-dropdown option {
    color: #000;
    font-weight: 500;
}

.form-currency-group .swap-icon {
    color: #fff;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.2s ease;
}

.form-currency-group .swap-icon:hover {
    background: rgba(255, 255, 255, 0.3);
}

.convertor-form .submit-button {
    width: 100%;
    min-height: 52px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
}

.convertor-form .submit-button.loading {
    opacity: 0.8;
    pointer-events: none;
}

.convertor-form .submit-button:hover {
    background: rgba(255, 255, 255, 0.8);
}

.convertor-form .exchange-rate-result {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 25px 0;
    margin-top: 30px;
    border-radius: 6px;
    letter-spacing: 0.5px;
    background: rgba(255, 255, 255, 0.15);
}